dist/
node_modules/
tmp/
pkg/
Umbraco.Test/
.sass-cache/
TextOverImage/Umbraco/packages/
TextOverImage/Umbraco/TextOverImage/bin/
TextOverImage/Umbraco/TextOverImage/obj/
TextOverImage/Umbraco/.vs/
TextOverImage/Umbraco/TextOverImage/App_Data/NuGetBackup/
