<div ng-controller="text.over.image.editor.controller" class="text-over-image" ng-style="getFrameStyle()">
    <div ng-show="!hasImageSelected()">
        <button ng-click="openMediaPicker()" type="button" class="btn">Select Image</button> or <button type="button" class="btn" ng-click="showBannerWithoutImage()">Add Text</button>
    </div>
    <div class="image" ng-class="getImageWrapperClasses()" ng-show="hasImageSelected()" ng-style="getBackgroundStyle()">
        <div class="overlay pos-{{model.value.position}}">
            <h1 contenteditable="plaintext-only" ng-model="model.value.headline">{{model.value.headline}}</h1>
            <p contenteditable="plaintext-only" ng-model="model.value.subheadline" ng-show="model.config.showSubHeadline">{{model.value.subheadline}}</p>
            <div ng-show="model.config.showLink">
                <br/>
                <button ng-click="openLinkPicker()" type="button" class="btn btn-inline">{{renderAddLinkText()}}</button>
            </div>
        </div>
        <div class="drop-grid">
            <button type="button" class="grid-tl" ng-click="changePos('tl')"></button>
            <button type="button" class="grid-tc" ng-click="changePos('tc')"></button>
            <button type="button" class="grid-tr" ng-click="changePos('tr')"></button>
            <button type="button" class="grid-ml" ng-click="changePos('ml')"></button>
            <button type="button" class="grid-mc" ng-click="changePos('mc')"></button>
            <button type="button" class="grid-mr" ng-click="changePos('mr')"></button>
            <button type="button" class="grid-bl" ng-click="changePos('bl')"></button>
            <button type="button" class="grid-bc" ng-click="changePos('bc')"></button>
            <button type="button" class="grid-br" ng-click="changePos('br')"></button>
        </div>
        <div class="settings">
            <button type="button" class="btn btn-small" title="Resize: Medium, Tall, or Short" ng-click="changeHeight()"><i class="icon-navigation-vertical"></i></button>
            <button type="button" class="btn btn-small" ng-click="toggleMode()" title="Position your text"><i class="icon-thumbnails-small"></i></button>
            <button type="button" class="btn btn-small" ng-click="openMediaPicker()" title="Select an image"><i class="icon-umb-media"></i></button>
            <button type="button" class="btn btn-small btn-danger" title="Delete the banner" ng-show="hasImageSelected()" ng-click="openConfirmRemoveDialog()"><i class="icon-trash"></i></button>
        </div>
    </div>
</div>
